{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Accounting Period" %}{% endblock %}
{% block title %}{% trans "Accounting Period" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Accounting Period" %}</li>
{% endblock %}

{% block main %}
    <div class="content-panel" style="margin: 30px; padding: 10px;">
    <h4><i class="fa fa-angle-right"></i> {% trans "Currencies" %}</h4>
        {% if accountingperiod_list %}
        <table class="table table-striped table-advance">
            <tr><th>{% trans "Title" %}</th><th>{% trans "Begin" %}</th><th>{% trans "End" %}</th><th></th></tr>
            {% for accoutingperiod in accountingperiod_list %}
                <tr>
                    <td>{{ accoutingperiod.title }}</td>
                    <td>{{ accoutingperiod.begin }}</td>
                    <td>{{ accoutingperiod.end }}</td>
                    <td>
                        <p class="pull-right">
                        {% if perms.crm_core.change_currency %}
                        <button type="button" class="btn btn-sm btn-primary" onclick="window.location.assign('{% url 'accoutingperiod_edit' accoutingperiod.pk %}')">{% trans "Edit" %}</button>
                        {% endif %}
                        {% if perms.crm_core.delete_currency %}
                        <button type="button" class="btn btn-sm btn-danger" onclick="window.location.assign('{% url 'accoutingperiod_delete' accoutingperiod.pk %}')">{% trans "Delete" %}</button>
                        {% endif %}
                        </p>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if perms.accouting.add_accoutingperiod %}
        <p><a href="{% url 'accoutingperiod_create' %}">{% trans "Create a new accouting period" %}</a></p>
        {% endif %}
    </div>
{% endblock %}